.Content {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  }
}

.Content-left {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: $tablet) {
    flex: 0 0 50%;
  }
}

.Content-right {
  padding: 30px 30px 130px;
  
  @media screen and (min-width: $tablet) {
    flex: 0 0 50%;
    overflow-Y: scroll;
    padding: 30px;
  }

   @media screen and (min-width: $desktop) {
    padding: 40px 60px;
  }
}
