{% extends "layout.html" %}

{% block maincontent %}

<section class="Project">
  <div class="Project-main">
    <img src="images/europasinrefugioresp4.png" alt="">
    <img src="images/europasinrefugioresp2.png" alt="">
    <img src="images/europasinrefugioresp3.png" alt="">
    <img src="images/europasinrefugioresp5.png" alt="">
  </div>
  <div class="Project-details">
    <h3>Media Lab Pro</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio perferendis commodi pariatur corporis quisquam omnis, dolor asperiores, molestias, facere magni minus aliquid. Inventore explicabo autem enim dolorem suscipit sunt voluptatum.</p>
  </div>
  <div class="Project-mosaic"></div>
</section>
<section class="Project">
  <div class="Project-main">
    <img src="images/bemate1.png" alt="">
  </div>
  <div class="Project-details">
    <h3>Media Lab Pro</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio perferendis commodi pariatur corporis quisquam omnis, dolor asperiores, molestias, facere magni minus aliquid. Inventore explicabo autem enim dolorem suscipit sunt voluptatum.</p>
  </div>
  <div class="Project-mosaic"></div>
</section>


{% endblock %}